@charset "utf-8";
/* CSS Document */

body {
    font-family: sans-serif;
}

.sidenav {
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: #fff;
    overflow-x: hidden;
    padding: 10px 0;
    margin-top: 15%;
    margin-left: 15px;
    margin-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 5px 8px 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    color: #000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #0037ff;
}

.active {
    background-color: #FFF;
    color: #000;
}

.dropdown-container {
    display: none;
    background-color: none;
    padding-left: 10px;
}

.fa-caret-down {
    float: right;
    padding-right: 10px;
}

.mainimg {
    margin-left: 735px;
    margin-top: 0%;
    font-size: 16px;
    padding: 0px 10px;
    max-width: 600px;
}

.maintxt {
    margin-left: 235px;
    margin-top: 15%;
    font-size: 16px;
    padding: 0px 10px;
    max-width: 500px;
}
